{% extends "base.html" %}


{% block title %} Blogs {% endblock title %}

{% block content %}
<div class="container">
    <h1>This is my Blog</h1>
    <h1>There is {{ blogs.count }} blog{{ blogs.count|pluralize }}</h1> <!-- django filters -->
    {% for blog in blogs %} <!-- django for loop -->
        <div>
            <a href="{% url 'blog:details' blog.id %}"><h2>{{ blog.title }}</h2></a>
            <h4><strong>{{ blog.creation_date|date:'M-d-Y'|upper }}</strong></h4>
            <!-- <h3>blog.descriptions||truncatechars:100</h3> -->
            <h3>{{ blog.description|striptags|truncatechars:100 }}</h3>
        </div>
    {% endfor %}
</div>
{% endblock content %}